.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
}

.avatar {
	border-radius: 100%;
	background-repeat: none;
	background-position: center;
	background-size: cover;
}

.homeDetails {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	line-height: 1.5;
	margin-bottom: 0.8rem;
	max-width: 300px;
}

.headline {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
}

.headlineText {
	font-size: 2rem;
	font-weight: bold;
	color: var(--text);
	background-image: linear-gradient(to right, #ff8660, #9a33ff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.description {
	color: var(--light-text);
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 0.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
}

.buttons {
	display: flex;
	gap: 1rem;
}

.contactBtn,
.downloadBtn {
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	font-size: .9em;
	padding: 0.5rem 1rem;
	text-wrap: nowrap;
}

.contactBtn {
	background-color: var(--text);
}

.contactBtn:hover, .contactBtn:active {
	color: var(--text);
	background-color: transparent;
	border: 1px solid white;
}

.downloadBtn {
	background-color: transparent;
	color: white;
	border: 0.01px solid var(--text);
}

.downloadBtn:hover, .downloadBtn:active {
	color: black;
	background-color: var(--text);
}