.header {
	background-color: var(--soft-bg);
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 100%;
	padding: 0.6em 1.1em;
}

.logo {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.8rem;
}

.myName {
	background-image: linear-gradient(
		to right,
		rgb(50, 159, 237),
		rgb(0, 85, 255)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.5rem;
	font-weight: medium;
}

.image {
	height: 30;
	width: 30;
}

.navbar {
	display: flex;
	gap: 2em;
}

.link {
	color: var(--text);
	text-decoration: none;
	font-size: 1.1rem;
}

.link:hover {
	text-decoration: 2px rgb(50, 159, 237) underline;
	transform: scale(0.9);
}

.active {
	color: rgb(243, 86, 24);
	font-weight: 500;
	text-decoration: none;
	font-size: 1.1rem;
}

.menu {
	cursor: pointer;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1px;
	height: fit-content;
	width: fit-content;
}

.burger1,
.burger2,
.burger3 {
	height: 3px;
	width: 20px;
	border: none;
	border-radius: 10px;
	background-color: white;
	color: white;
	margin: 1px 0;
}
