.header {
	background-color: var(--soft-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.6em 1.1em;
}

.logo {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.8rem;
}

.myName {
	background-image: linear-gradient(to right, rgb(50, 159, 237), rgb(0, 85, 255));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.5rem;
	font-weight: medium;
}

.image {
	height: 30;
	width: 30;
}

.navbar {
	display: flex;
	gap: 2em;
}

.link {
	color: var(--text);
	text-decoration: none;
	font-size: 1.1rem;
}

.link:hover {
	text-decoration: 2px rgba(27, 194, 212, 0.86) underline;
	transform: scale(0.9);
	color: white;
}

.active {
	color: rgba(27, 194, 212, 0.86);
	font-weight: 500;
	text-decoration: none;
	font-size: 1.1rem;
}

.menu,
.close {
	cursor: pointer;
	display: none;
	font-size: 2em;
}

@media screen and (max-width: 648px) {
	.navbar {
		display: none;
	}

	.mobileNavbar {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 2em;
		height: fit-content;
		width: fit-content;
		right: 0.7rem;
		top: 3.4rem;
		background-color: black;
		padding: 10px;
		border-radius: 0.5rem;
	}

	.menu,
	.close {
		display: flex;
	}
}
