.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: var(--text);
}

.heading {
	background-image: linear-gradient(to right, #5badff, #1373d1);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.7rem;
	margin: 1rem 0;
	text-transform: uppercase;
	text-align: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0.9rem;
	border-radius: 0.9rem;
	height: 400px;
	width: 300px;
	border: 1px solid white;
}

.image {
	background-position: center;
	background-origin: border-box;
	border-top-right-radius: 0.9rem;
	border-top-left-radius: 0.9rem;
	width: 100%;
	height: 80%;
	object-fit: cover;
	margin-bottom: 0.5rem;
}

.details {
	display: flex;
	flex-direction: column;
	gap: .6rem;
	align-items: center;
	text-align: center;
	padding: 0.5rem;
	width: 100%;
}

.links {
	display: flex;
	gap: 10px;
}

.links:hover {
	color: white;
	text-decoration: underline 2px rgb(0, 255, 247);
	transform: scale(1.1);
	transition: ease-in-out 1s linear;
}

.btn {
	display: flex;
	color: black;
	background-color: white;
	text-decoration: none;
	font-size: medium;
	border: none;
	border-radius: 10px;
	padding: 5px 8px;
	text-align: center;
}

@media screen and (min-width: 768px){
	.wrapper {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		height: 100%;
		max-width: calc(100vw - 20%);
	}

	.btn {
		font-size: 12px;
	}
}