:root {
	--bg-color: #161513;
	--soft-bg: #1f1e1e;
	--softer-bg: #3a3939;
	--secondary-bg: #8491a0;
	--blue-gradient: #5badff;
	--light-text: #c5c5c5;
	--text: rgba(255, 255, 255, 0.87);
	--text-dark: #000000;
	--secondary-text: #8491a0;
	--main-font: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
	color: var(--text);
	font-family: var(--main-font);
	line-height: 1.5;
	font-weight: 400;
	overflow-x: hidden;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input {
	color: var(--text-dark);
	border: 0.01px solid var(--secondary-bg);
	border-radius: 10px;
	font-family: var(--main-font);
	font-size: 1rem;
	padding: 10px;
	width: 100%;
}

textarea {
	color: var(--text-dark);
	border: 0.01px solid var(--secondary-bg);
	border-radius: 10px;
	font-family: var(--main-font);
	font-size: 1rem;
	padding: 10px;
	height: 300px;
	width: 100%;
	resize: none;
}

input::placeholder,
textarea::placeholder {
	color: var(--secondary-text);
	font-size: 1rem;
	font-family: var(--main-font);
}
